#Hides Guild Data and typing for strict dev env and NOT HELPFUL .pyc
**/typings/**/*.pyi
*.json
**/__pycache__/**/*.pyc
**/*.cpython-314.pyc
# Ignore CPython 3.14 compiled bytecode
__pycache__/
*.cpython-314.pyc
